
  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Karla:wght@800&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}
body{
  background-color: #FFF;
}
/* @font-face {
  font-family: Lenora Premium;
  src: url("./font/64103e95b3ca5ab4ebf815b4f19e00f2.ttf");
} */
a:hover{
  color:#6E1092;
}
.padnav{
  padding: 1.5rem 5rem;
  background: rgba(255, 255, 255, 0.50);
backdrop-filter: blur(15px);
}

.pad{
  padding: 2rem 5rem;
}
.mag{
  margin: 0 5rem;
}
.pady{
  padding-top: 7rem;
  padding-bottom: 5rem;
}
.bgpurple{
  background-color: #6E1092;
}
.txtpurple{
  color: #6E1092;
}
.txtpurple2{
  color:#1D0128;
}
.txtdark{
  color: #443F46;
}
.bgdark{
  background-color: #443F46;
}
.bg{
  border: 1px solid #443F46;
  border-top: 0;
}
.navbar{
  position: sticky;
  top: 0;
}
.leno{
  font-family: 'Karla', sans-serif;

}
.text-service{
  width: 100%;
  font-family: 'Karla', sans-serif;
  color: #ffffff;
  font-size: 55px;
line-height: 70px;

}
.text-service2{
  font-family: 'Karla', sans-serif;
  color: #ffffff;
  font-size: 55px;
}
.solution{
  font-family: 'Karla', sans-serif;
  position: relative;
  color: #D08F33;
}
.dot{
  color: #D08F33;
}
.solution:after {
  content: "";
  position: absolute;
  height: 20px;
  width: 100%;
  left: 0;
  top: 95%;
  border-top: 4px solid #D08F33;
  border-radius: 30%;
}
.line{
  width: 2px;
  height: 100px;
}
.multi-text{
  width: 75%;
}
.sun{
  z-index: 1;
}
.ind{
  background: linear-gradient(to right, rgb(110, 16, 146), rgb(110, 16, 146,0.8)), url("./images/Group\ 39.png");
  background-repeat: no-repeat;
  background-position: top right;
  padding: 5rem;
  /* background-size:inherit; */
}
.text-ind{
  width: 520px;
  color: #ffffff;
  font-family: 'Karla', sans-serif;
  font-size: 60px;
  line-height: 70px;

}
.text-ind2{
  width: 750px;
}
.servtext{
  font-size: 28px;
}
.radio{
  box-shadow: 0px 19px 40px 2px #E6A6FF;
}
.arrow{
  backdrop-filter: blur(7.5px);
}
pre{
  display: block;
  font-family: 'Outfit', sans-serif;
  white-space:pre-line;

}
.form-inp{
  border-radius: 5px;
  border: 0.5px solid rgba(68, 63, 70, 0.70);
  background: #FFF;
}
.form-inp input{
  border-radius: 5px;
}
.form-inp input::placeholder, textarea::placeholder{
  color: #443F46;
  font-size: 18px;
}
.global{
  z-index: 0;
}
.card-head{
  font-size: 32px;
  font-family: 'Karla', sans-serif;
  text-align: center;
}
.world-text{
  font-size: 70px;
  font-family: 'Karla', sans-serif;
  color: #1D0128;
line-height: 80px;

}
.world-text span{
  font-family: 'Karla', sans-serif;
  color: #D08F33;
}
.found-one{
  border-radius: 25px;
  background: linear-gradient(197deg, #E7E7E7 13.02%, #BABABA 100%);
}
.found-two{
  border-radius: 25px;
}
.found-text{
  font-family: 'Karla', sans-serif;
  font-size: 48px;
  line-height: 55px;
}
.found-text2{
  width: 600px;
}
.about{
  font-family: 'Karla', sans-serif;
  color: #1D0128;
  font-size: 50px;
  line-height: 65px;
}
.journey-text{
  font-size: 50px;
}
.pic-box{
  width: 31%;
}
.text-car{
    color: #ffffff;
    font-family: 'Karla', sans-serif;
    font-size: 50px;
}
.openn{
  border-radius: 10px;
border: 1px solid #443F46;
background: rgba(110, 16, 146, 0.10);
color: #272727;
}
.leadfaq{
  line-height: 60px;
}
.faq-box{
  border-radius: 5px;
  border: 0.3px solid rgba(68, 63, 70, 0.70);
  background: #FFF;
  box-shadow: 2px 4px 20px 1px rgba(0, 0, 0, 0.10);
  padding: 2rem;
  margin: 1.5rem 0 ;
}
.faqtxt{
  font-size: 23px;
}


@media (min-width:700px) and (max-width:997px) {
  .pad, .padnav{
    padding: 2rem;
  }
  .text-service{
    margin: auto;
    font-size: 40px;
  }
  .text-service2{
    margin: auto;
    font-size: 40px;

  }
  .pic-box{
    width: 47%;
  }
  .journey-text, .text-car{
    font-size: 30px;
  }
 
}

@media (max-width:600px) {
  .pad, .padnav{
    padding: 1rem;
  }
  .mag{
    margin: 0.8rem;
  }
  .text-service{
    margin: auto;
    font-size: 25px;
    line-height: 40px;

  }
  .text-service2{
    margin: auto;
    font-size: 25px;
  }
  .card-head{
    font-size: 22px;
  }
  .line{
    height: 70px;
  }
  .multi-text{
    width: 70%;
    margin-left: 0;
  }
  .text-ind{
    font-size: 30px;
    line-height: 40px;
    text-align: center;
  }
  .text-car{
    font-size: 25px;
  }
  .text-ind2, .text-ind{
    width: 100%;
  }
  .servtext{
    font-size: 20px;
  }
  .world-text{
    font-size: 27px;
    line-height: 40px;

  }
  .found-text{
    font-size: 27px;
    line-height: 40px;

  }
  .about{
    font-family: 'Karla', sans-serif;
    color: #1D0128;
    font-size: 30px;
    line-height: 40px;
  }
  .journey-text{
    font-size: 30px;
  }
  .pic-box{
    width: 100%;
  }
  .faq-box{
    padding: 1rem;
  }
  .faqtxt{
    font-size: 16px;
  }
  .form-inp input::placeholder, textarea::placeholder{
    font-size: 16px;
  }
  .leadfaq{
    line-height: 40px;
  }
}
